body {
	width: 100%;
	height: 100%;
	font-family: "courier new", Times, serif;
 }
 
 table {
	width: 70%;
	text-align: center;
	background: #dddddd;
	border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
	padding-top: 1em;
    padding-bottom: 1em;
 }
 
 fieldset { 
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 2px groove dotted;
	border-radius: 15px;
}

label {
  margin-right:1em;
  }
  
h4 {
  color: green;
  }
  
h5 {
  color: blue;
  }
   
#search {
    padding: 5px 9px;
    height: 23px;
	width: 40%;
    border: 1px solid #a4c3ca;
    font: normal 13px 'trebuchet MS', arial, helvetica;
    background: #f1f1f1;
    border-radius: 50px 3px 3px 50px;            
}

#submit
{       
    background-color: #6cbb6b;
    background-image: linear-gradient(#95d788, #6cbb6b);
    border-radius: 3px 50px 50px 3px;    
    border-width: 1px;
    border-style: solid;
    border-color: #7eba7c #578e57 #447d43;
    height: 35px;
    margin: 0 0 0 10px;
    padding: 0;
    width: 80px;
    cursor: pointer;
    font: bold 14px Arial, Helvetica;
    color: #23441e;    
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}